.header {
    padding-bottom: 60px;
}


.gnb {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-top: 60px;
    padding-bottom: 33px;
    border-bottom: 1px dotted #434343;
}

.logo {
    font-size: 60px;
}

.board, 
.menu {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 10px;
    color: #161616;
    margin-left: 10px;
}

.board .board__cmp,
.menu .menu__cmp {
    margin-left: 10px;
}

.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 33px;
    font-size: 12px;
    color: #0A0A0A;
    font-style: italic;
}

.category .cate13 {
    color: #E5A1B1;
}

.event .event__cmp {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
}


a {
    text-decoration: none;
    color: inherit;
}
